[submodule "Arc/vendor/imgui"]
	path = Arc/vendor/imgui
	url = https://github.com/YaMolod/imgui
[submodule "Arc/vendor/GLFW"]
	path = Arc/vendor/GLFW
	url = https://github.com/YaMolod/glfw
[submodule "Arc\\vendor\\spdlog"]
	path = Arc/vendor/spdlog
	url = https://github.com/YaMolod/spdlog
[submodule "Arc\\vendor\\glm"]
	path = Arc/vendor/glm
	url = https://github.com/YaMolod/glm
